.auth-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.auth-left {
  flex: 1;
  backdrop-filter: brightness(0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  color: white;
}

.brand {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 350px;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}

.auth-form input {
  padding: 12px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
  outline: none;
}

.auth-form button {
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background: #ff9f43;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.auth-form button:hover {
  background: #ff7b00;
}

.auth-form p {
  margin-top: 15px;
  text-align: center;
}

.auth-form a {
  color: #fff;
  font-weight: bold;
}
